:root {
  --blue: #82B3D3;
  --gray: #333333;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.17;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.navigation {
  width: 1060px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navigation-link {
  margin: 16px;
  text-decoration: none;
  color: black;
}

.navigation-menu {
  width: 507px;
  margin-left: 30px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.navigation-user {
  max-width: 270px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-logo {
  background: url(../images/nav/logo.svg) no-repeat;
  margin-bottom: -5px;
  width: 140px;
  height: 70px;
}

.navigation-link-search {
  background: url(../images/nav/search.svg) no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.navigation-link-favorite {
  background: url(../images/nav/favorite.svg) no-repeat;
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-right: 32px;
  margin-left: 24px;
}

.login-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 35px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
}

.main-container {
  flex-grow: 1;
}

.promo-image {
  padding-top: 51px;
  display: block;
  margin: 0 auto;
}

.main-background-image {
  background: url("../images/main-background.jpg") no-repeat;
  background-size: 100% auto;
}

.advantages {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  text-align: center;
  height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-header {
  text-align: center;
}

.advantages-header h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.advantages-header p {
  font-size: 22px;
  line-height: 1.21;
  color: var(--gray);
}

.advantages-item-blue {
  align-items: center;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  color: white;
}

.advantages-item-blue.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.advantages-text {
  text-align: center;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.advantages-description {
  color: var(--gray);
}

.advantages-item-color {
  background-color: rgba(131, 179, 211, 0.2);
}


.catalog {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 385px;
}

.catalog-item-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.catalog-header {
  height: 246px;
  text-align: center;
}

.catalog-header h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.catalog-header p {
  font-size: 22px;
  line-height: 1.21;
  color: #333333;
}

.catalog-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.catalog-description {
  text-align: center;
  color: var(--gray);
}

.search-hotel-sedona {
  text-align: center;
  padding-bottom: 96px;
}

.search-hotel-sedona h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.search-hotel-sedona p {
  font-size: 22px;
  line-height: 1.21;
  color: var(--gray);
}

.search-hotel {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8x;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 50px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
}


.subscribe-background-image {
  height: 415px;
  background: url("../images/Subscribe-background.png") no-repeat;
  background-size: 100% auto;
}

.subscribe {
  text-align: center;
  color: white;
}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 96px;
}

.subscribe p {
  font-size: 22px;
  line-height: 1.21;
  padding-top: 20px;
}


.email {
  font-size: 18px;
  line-height: 1.3;
  padding: 14px 345px 14px 20px;
}


.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  border-radius: 0 4px 4px 0;
  color: white;
  background-color: var(--blue);
  padding: 8px 50px;
}

.subscribe-form {
  padding-top: 54px;
  padding-bottom: 104px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0 70px;
}

.social-vk-image {
  margin-right: 12px;
  background: url("../images/socials/vk.svg") no-repeat;
  display: inline-block;
  width: 24px;
  height: 14px;
}

.social-telegram-image {
  margin-right: 15px;
  background: url("../images/socials/telegram.svg") no-repeat;
  display: inline-block;
  width: 18px;
  height: 16px;
}

.social-youtube-image {
  background: url("../images/socials/youtube.svg") no-repeat;
  display: inline-block;
  width: 22px;
  height: 17px;
}

.tel {
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.copyright {
  background: url("../images/copyright-logo.svg") no-repeat;
  display: inline-block;
  width: 115px;
  height: 33px;
}

.social-links {
  align-items: center;

}
